@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ai venit!</h1>
    
    <p>
        Click aici pentru a deschide pagina <a asp-page="/Cars/Index">Masini</a>!<br />
        Click aici pentru a deschide pagina <a asp-page="/Publishers/Index">Editori</a>!<br/>
        Click aici pentru a deschide pagina <a asp-page="/Categories/Index">Categorii</a>!
    </p>
</div>
